thead th {
    background: #fa940e;
    color: #fff;
}

tbody tr.clickable:hover td {
    background: #ffbd43;
    cursor: pointer;
}

.lie-link:hover {
    color: blue;
    
}

#giftImage img {
    height: 500px;
    
}

.giftImageTable img {
    height: 200px;
    
}
