/*----------------------------------
 テンプレートcss

 1.カラーコード表
 2.共通ヘッダーの設定
 3.背景設定
  3.1 一色背景
  3.2 背景に飛び散る紅葉
 4.カード設定
 5.文字設定
 6.ボタンの調整
 7.アニメーションDROP
 ---------------------------------*/

/*----------------------------------
 1.カラーコード表
 ---------------------------------*/
 :root{
  --momizi:    #E2451E;
  --kaede:     #E77433;
  --momi:      #BD3528;
  --koharu:    #F4A358;
  --saka:      #BD956E;
  --hatuyuki:  #F8F0EC;
  --hinoki:    #C6AE8D;
  --huyukusa:  #9D8C73;
  --yamanemuru:#5D4C35;
  
  --ityo:      #FDED52;
  --zyuzitu:   #FADC34;
  --honen:     #765E36;

  --kangyou:      #cfdae1;
  --saeru:        #a8bacf;
  --kannouti:     #869fbe;
  --robai:        #f7f09e;
  --kessyo:       #e9ecee;
  --ketuzitu:     #8f8b61;
  --kanburi:      #b4b1a8;
  --itegumo:      #8f8b79;
  --kansizimi:    #615c42;

  --setugen:      rgb(232, 240, 235);
  --harunoasioto: #dad2e4;
  --yukinohana:   #bbcfe4;
  --yukiakari:    #c7d1dc;
  --daikantamago: #e9e4da;
  --zyuhyo:       #d6dae0;
  --tyu:          rgb(64, 92, 125);
  --isizue:       #596b80;
  --sasuga:       #a0a79c;
}



/*----------------------------------
 2.共通ヘッダーの設定
 ---------------------------------*/
.navbar{
    background-color: var(--kannouti) !important;
}
.navbar-brand{
  color: white !important;
  font-weight: bold;
}
.menu_ic{
    font-size: 30px;
    color: white;
    margin-left: 10px;
}
.menu_ic:active,.menu_ic:hover{
  color: var(--kangyou);
  text-decoration: none;
}



/*----------------------------------
 3.背景設定
 ---------------------------------*/
 
/*
  3.1 一色背景
 ---------------------------------*/
body{
  background-color: rgb(232, 240, 235,0.3);
}

/*
  3.2 背景に飛び散る紅葉
 ---------------------------------*/
.momizi5,.momizi8{
  opacity: 0;
  animation-name: Drop;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/yukinokessyo1.png) no-repeat;
  overflow: hidden;
}
.momizi_drop .momizi3,.momizi6{
  opacity: 0;
  animation-name: Drop;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/yukinokessyo2.png) no-repeat;
  overflow: hidden;
}
.momizi1{
  opacity: 0;
  animation-name: Drop;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/yukinokessyo3.png) no-repeat;
  overflow: hidden;
}
.momizi3,.momizi5,.momizi6,.momizi8,.momizi1{
  background-size: 30px 27px !important;
}
.momizi1 {
  left: 50px;
  animation-duration: 12s;
}
.momizi2 {
  left: 80px;
  animation-duration: 8s;
  animation-delay: 10s;
}
.momizi3 {
  left: 120px;
  animation-duration: 12s;
  animation-delay: 8s;
}
.momizi4 {
  left: 160px;
  animation-duration: 10s;
  animation-delay: 16s;
}
.momizi5 {
  left: 200px;
  animation-duration: 8s;
  animation-delay: 2s;
}
.momizi6 {
  left: 240px;
  animation-duration: 12s;
  animation-delay: 13s;
}
.momizi7 {
  left: 260px;
  animation-duration: 10s;
  animation-delay: 8s;
}
.momizi8 {
  left: 320px;
  animation-duration: 8s;
  animation-delay: 14s;
}/*
.momizi9 {
  left: 380px;
  animation-duration: 10s;
  animation-delay: 2s;
}
.momizi10 {
  left: 540px;
  animation-duration: 12s;
  animation-delay: 6s;
}*/



/*----------------------------------
 4.カード設定
 ---------------------------------*/
.card{
  background-color: rgb(134, 159, 190,0.1);
}
.card_head{
  position: relative;
  top: -20px;
  left: -8px;
  height: 15px;
}
.title{
  font-family: "ヒラギノ明朝 ProN","HG明朝E","MS P明朝","MS明朝",serif;
  font-size: 30px;
  color: var(--tyu);
  font-weight: bold;
  position: relative;
  left: -33px;
  top: 5px;
}
.title span{
  color: var(--kansizimi);
  font-size: 40px;
}
.title_ic{
  position: relative;
  top: -10px;
  left: -5px;
  width: 60px;
  height: 55px;
}
.input_label{
  color: var(--tyu);
  font-family: "ヒラギノ明朝 ProN","HG明朝E","MS P明朝","MS明朝",serif;
}
.input_item{
  margin-bottom: 0;
}



/*----------------------------------
 5.文字設定
 ---------------------------------*/
h2, h4, p ,h1{
  font-family: "ヒラギノ明朝 ProN","HG明朝E","MS P明朝","MS明朝",serif;
  color: var(--tyu);
}



/*----------------------------------
 6.ボタンの調整
 ---------------------------------*/
 .btn{
  margin-top: 15px;
  background-color: var(--tyu) !important;
  color: white !important;
  border: solid 1px var(--isizue);
  padding: 4px 12px;
}
.btn:hover, .btn:active, .btn:focus{
  /*-- カーソルを合わせた時 --*/
  background-color: var(--kannouti) !important;
  /* 影を入れる */
  box-shadow: 0 0 0 0.2rem white !important;
  outline: none;
}
.btn:active{
  /*-- クリックしている時 --*/
  background-color: var(--tyu) !important;
  /* 影を入れる */
  box-shadow: 0 0 0 0.2rem white !important;
}
.input_btn{
  text-align: right;
}



/*----------------------------------
 7.アニメーションDROP
 ---------------------------------*/
@keyframes Drop{
  0%{
    transform: translate(0,0);
    opacity: 0;
}
25%{
    transform: translate(5px, 150px);
    opacity: 0.5;
}
50%{
  transform: translate(40px, 300px);
  opacity: 1;
}
75%{
    transform: translate(10px,450px);
    opacity: 0.5;
}
100%{
  transform: translate(45px,550px);
  opacity: 0;
}
}



.modal-header{
  background-color: var(--saeru)
}

@media screen and (min-width: 768px) {
  .input_item{
      margin-top: 20px;
  }
}